.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-iframe {
  width: 1888px;
  height: 982px;
}
.home-container1 {
  width: 100%;
  height: 1929px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text {
  color: #ff0000;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -3px;
}
.home-text03 {
  color: #590000;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -3px;
}
.home-text06 {
  color: #360000;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -3px;
}
.home-lottie-node {
  width: 1884px;
  height: 1305px;
  padding-top: var(--dl-space-space-sixunits);
}
.home-text09 {
  height: 531px;
  font-size: 10em;
  transition: 0.3s;
  padding-top: 278px;
}
.home-text09:focus {
  color: #0700ff;
  font-size: 10em;
  font-style: normal;
  font-weight: 100;
}
@media(max-width: 479px) {
  .home-iframe {
    width: 100%;
    height: 1057px;
    padding-bottom: 0px;
  }
}
